.snackbar {
    visibility: hidden;
    margin-left: -125px;
    position: fixed;
    z-index: 1;
    left: 10%;
    max-width: 500px;
    bottom: 150px;
  }
  
  .snackbar.show {
    visibility: visible;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-name: fadein;
    animation-duration: 0.5s;
  }
  

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 150px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 150px; opacity: 1;}
    }